<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1055225448670-mq2hlq85lp6gvn0rh8nsh1qj4e5s4dmc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.williamcachamwri.FilmVault.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>filmvault</string>
			</array>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>FilmVault uses your location to tag where you shot your film rolls.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FilmVault needs access to your photo library to attach images to film frames.</string>
	<key>NSCameraUsageDescription</key>
	<string>FilmVault uses the camera to capture photos directly into your film rolls.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>

</dict>
</plist>
