<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-06-04T17:25:45Z</date>
	<key>WorkspacePath</key>
	<string>/Users/wica/Desktop/follback/follback.xcworkspace</string>
</dict>
</plist>
